# Emaan Qillawala
# Mongo Lab
# DS 2002 3/24/24

### Connecting to MongoDB

In [1]:
# 1. Import MongoClient from pymongo
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [2]:
# 2. Connect to local MongoDB instance

host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "local"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/local

In [3]:
# 3. Print a list of databases in the MongoDB instance

client.list_database_names()

# My code was not running when I used local so I had to use atlas

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

### Creating and Using a Database

In [4]:
# 1. Create a database called <yourname>_class

db_name = "Emaan_class"
db = client[db_name]
client.list_database_names()

['AlbertHuang_class',
 'AlyssaRask_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'RainaVardhanapu_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [5]:
# 2. Print a list of collections in the database

db.list_collection_names()

['students']

### Creating a Collection and Inserting Documents

In [6]:
# 1. Create a collection named students
# 2. Insert a single document into the students collection. Let it have 5 key value pairs

student = {'student name' : 'Emaan',
            'text' : 'I am a student in DS 2002',
            'tags' : ['DS2002', 'school', 'data', 'science'],
            'date': datetime.datetime.utcnow(), 
            'place' : 'UVA'}

students = db.students
student_id = students.insert_one(student).inserted_id

print("Document ID: ", student_id)

Document ID:  6600eced9168325e1db318e4

In [7]:
# 3. Insert multiple documents into the students collection in one operation

new_students = [
{'student name' : 'Sam',
            'text' : 'I was a student in DS 2002',
            'tags' : ['DS2002', 'school', 'data', 'science', 'sp23'],
            'date': datetime.datetime.utcnow(), 
            'place' : 'UVA'}, 
{'student name' : 'Alex',
            'text' : 'I will be a student in DS 2002',
            'tags' : ['DS2002', 'school', 'data', 'science', 'f24'],
            'date': datetime.datetime.utcnow(), 
            'place' : 'UVA'}, 
{'student name' : 'Megan',
            'text' : 'I am currently a student in DS 2002',
            'tags' : ['DS2002', 'school', 'data', 'science', 'sp24'],
            'date': datetime.datetime.utcnow(), 
            'place' : 'UVA'},
{'student name' : 'Atiya',
            'text' : 'I am not currently a student in DS 2002',
            'tags' : ['DS2002', 'school', 'data', 'science', 'N/A'],
            'date': datetime.datetime.utcnow(), 
            'place' : 'UVA'}]

# one operation to insert new documents
result = students.insert_many(new_students)

pprint.pprint(result.inserted_ids)

[ObjectId('6600ed1c9168325e1db318e5'),
 ObjectId('6600ed1c9168325e1db318e6'),
 ObjectId('6600ed1c9168325e1db318e7'),
 ObjectId('6600ed1c9168325e1db318e8')]

In [8]:
print("Databases: ", client.list_database_names())
print("Collections: ", db.list_collection_names())

Databases:  ['AlbertHuang_class', 'AlyssaRask_class', 'DS2002Final', 'DiegoMcgrath_class', 'ElijahKim_class', 'Emaan_class', 'JackNickerson_class', 'JamesDraudt_class', 'KevinZhang_class', 'Larissa_class', 'MaxChang_class', 'MiaArk_class', 'RainaVardhanapu_class', 'SebastianWiktorowicz_class', 'Siona_Pathak_class', 'StoreProducts', 'TenzinNargee_class', 'ValynGrebe_class', 'VarunPavuloori_class', '_class', 'aidantan_class', 'anagha_class', 'anisha_class', 'anne_class', 'api_project', 'blog', 'eva_class', 'grace_class', 'kaylasprincis_class', 'olivia_class', 'project', 'ronit_class', 'rushvi_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'sutherland_class', 'admin', 'local']
Collections:  ['students']

### Querying Documents

In [9]:
# 1. Perform a query to find all documents in the students collection

for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('660091689030d3931205f4c1'),
 'author': 'Sam',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660091689030d3931205f4c2'),
 'author': 'Alex',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('660091689030d3931205f4c3'),
 'author': 'Megan',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e03f'),
 'author': 'Sam',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e040'),
 'author': 'Alex',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e041'),
 'author': 'Megan',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e044'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e045'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e046'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Megan',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('660097ddcee26bf66e47e049'),
 'date': datetime.datetime(2024, 3, 24, 21, 15, 9, 582000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660097ddcee26bf66e47e04a'),
 'date': datetime.datetime(2024, 3, 24, 21, 15, 9, 582000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('66009fb8cee26bf66e47e04d'),
 'date': datetime.datetime(2024, 3, 24, 21, 48, 40, 700000),
 'place': 'University of Virginia',
 'student name': 'Emaan',
 'tags': ['DS2002', 'school', 'data', 'science'],
 'text': 'I am a student in DS 2002'}
{'_id': ObjectId('66009fbacee26bf66e47e04e'),
 'date': datetime.datetime(2024, 3, 24, 21, 48, 42, 635000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('66009fbacee26bf66e47e04f'),
 'date': datetime.datetime(2024, 3, 24, 21, 48, 42, 635000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600eced9168325e1db318e4'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 5, 631000),
 'place': 'UVA',
 'student name': 'Emaan',
 'tags': ['DS2002', 'school', 'data', 'science'],
 'text': 'I am a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e5'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'UVA',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e6'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'UVA',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e7'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'UVA',
 'student name': 'Megan',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp24'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e8'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'UVA',
 'student name': 'Atiya',
 'tags': ['DS2002', 'school', 'data', 'science', 'N/A'],
 'text': 'I am not currently a student in DS 2002'}

In [10]:
# 2. Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl

pprint.pprint(students.find_one( {"student name" : "Sam"} ))

{'_id': ObjectId('660093f5cee26bf66e47e044'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}

### Updating Documents

In [11]:
# 1. Update a specific document in the students collection

students = db.students

# updating by adding sp24 to the document named Emaan
student_old = {'tags' : ['DS2002', 'school', 'data', 'science']}
student_Emaan = {"$set":{'tags' : str(['DS2002', 'school', 'data', 'science', 'sp24'])}}

students.update_one(student_old, student_Emaan)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711336813, 33), 't': 391}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711336813, 33), 'signature': {'hash': b'AV\x9c$\xd4\x12\xed\xd2\xdf\xf7\x1bj\xc4\x97\x1a\xb1\xb8\x0f#\xef', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711336813, 33), 'updatedExisting': True}, acknowledged=True)

In [12]:
# 2. Update multiple documents based on a specific condition

students = db.students

# updating all documents with place as UVA to University of Virginia
many_students_old = {'place' : 'UVA'}
many_students_update = {'$set' : {'place' : str('University of Virginia')}}

students.update_many(many_students_old, many_students_update)

UpdateResult({'n': 5, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711336822, 9), 't': 391}, 'nModified': 5, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711336822, 10), 'signature': {'hash': b'\xa9gE\xc8\x84\xd7\x9a\xe8$&\xb0,\x15J\t}[2c\xf2', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711336822, 9), 'updatedExisting': True}, acknowledged=True)

### Deleting Documents

In [16]:
# 1. Delete a specific document from the students collection

# delete one document with the name Atiya
students = db.students
students.delete_one({'Atiya' : {"$exists" : True}})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711336900, 1), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711336900, 2), 'signature': {'hash': b'\xd6\x14\xf2\xb7J%M\xe4\xdc\x88m\x86"\x9f\x0e\xe4T\xc6B\x7f', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711336900, 1)}, acknowledged=True)

In [14]:
# 2. Delete multiple documents based on a specific condition

# delete all documents with the tag sp24
students = db.students
drop_many_students = {'tags' : {'$regex': "sp24"}}
students.delete_many(drop_many_students)

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711336846, 9), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711336846, 10), 'signature': {'hash': b"G\x0bU$j\xd2\x07#\n\x8eW\xb1plBW\xd5T\xbf'", 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711336846, 9)}, acknowledged=True)

In [17]:
for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('660091689030d3931205f4c1'),
 'author': 'Sam',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660091689030d3931205f4c2'),
 'author': 'Alex',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('660091689030d3931205f4c3'),
 'author': 'Megan',
 'date': datetime.datetime(2024, 3, 24, 20, 47, 36, 72000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e03f'),
 'author': 'Sam',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e040'),
 'author': 'Alex',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600932bcee26bf66e47e041'),
 'author': 'Megan',
 'date': datetime.datetime(2024, 3, 24, 20, 55, 7, 797000),
 'place': 'University of Virginia',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e044'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e045'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('660093f5cee26bf66e47e046'),
 'date': datetime.datetime(2024, 3, 24, 20, 58, 29, 783000),
 'place': 'University of Virginia',
 'student name': 'Megan',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I am currently a student in DS 2002'}
{'_id': ObjectId('660097ddcee26bf66e47e049'),
 'date': datetime.datetime(2024, 3, 24, 21, 15, 9, 582000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('660097ddcee26bf66e47e04a'),
 'date': datetime.datetime(2024, 3, 24, 21, 15, 9, 582000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('66009fbacee26bf66e47e04e'),
 'date': datetime.datetime(2024, 3, 24, 21, 48, 42, 635000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('66009fbacee26bf66e47e04f'),
 'date': datetime.datetime(2024, 3, 24, 21, 48, 42, 635000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600eced9168325e1db318e4'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 5, 631000),
 'place': 'University of Virginia',
 'student name': 'Emaan',
 'tags': ['DS2002', 'school', 'data', 'science'],
 'text': 'I am a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e5'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'University of Virginia',
 'student name': 'Sam',
 'tags': ['DS2002', 'school', 'data', 'science', 'sp23'],
 'text': 'I was a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e6'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'University of Virginia',
 'student name': 'Alex',
 'tags': ['DS2002', 'school', 'data', 'science', 'f24'],
 'text': 'I will be a student in DS 2002'}
{'_id': ObjectId('6600ed1c9168325e1db318e8'),
 'date': datetime.datetime(2024, 3, 25, 3, 18, 52, 852000),
 'place': 'University of Virginia',
 'student name': 'Atiya',
 'tags': ['DS2002', 'school', 'data', 'science', 'N/A'],
 'text': 'I am not currently a student in DS 2002'}